{% extends 'base.html.twig' %}

{% block body %}
    <h1>Leagues list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>League</th>
                <th>Sport</th>
                <th>League Alternate</th>
            </tr>
        </thead>
        <tbody>
        {% for league in leagues %}
            <tr>
                <td>
                    {{ league.idLeague }}
                </td>
                <td>
                    {{ league.strLeague }}
                </td>
                <td>
                    {{ league.strSport }}
                </td>
                <td>
                    {{ league.strLeagueAlternate }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
