{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-8">
        <h1>Players list</h1>
    </div>
    <div class="col-lg-4">
        <form method="post" action="" >
            <select>
                {% for league in leagues %}
                <option value="{{ league.idLeague }}">{{ league.strLeague }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>Team</th>
                <th>Birthday</th>
                <th>Salary</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>
                    {{ player.strPlayer }}
                </td>
                <td>
                    {{ player.strPosition }}
                </td>
                <td>
                    {{ player.strTeam }}
                </td>
                <td>
                    {{ player.dateBorn }}
                </td>
                <td>
                    {{ player.strWage }}
                </td>
                <td>
                    <img src="{{ player.strThumb }}" width="100"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
