{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthday</th>
            <th>Image</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ dump(player)}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
